* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: $colorFontBlack;
  font-family: $family;
  font-weight: 700;
  line-height: 1;
}
h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

header,
nav,
main,
div,
footer {
  display: block;
}

ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  outline: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

button {
  cursor: pointer;
}
