$colorFontBlack: #333333;
$colorFontSubBlack: #454545;
$colorFontGray: #777777;
$colorFontLight: #d5d5d5;
$colorPrimary: #bf132b;
$colorSubColor: #f64646;

$fontSizeS: 0.875em; // 14px
$fontSizeN: 1.125em; // 18px
$fontSizeL: 1.25em; // 20px
$fontSizeItemName: 1.375em; // 22px

$fontSizeMark: 1.875em; // 30px

$fontSizeSectionName: 2.625em; // 42px
$fontSizeVisualSub: 3.5em; // 56px;
$fontSizeVisual: 3.75em; // 60px;

$family: "Nanum Gothic", "맑은 고딕", "돋움", "arial", sans-serif;
